


body {
  background: var(--page-bg);

}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

nav .desktop-navigation {
  padding: 1.5rem 1rem;
  position: relative;
  z-index: 1;
}
nav .desktop-navigation .navigation-main {
  width: 1450px;
  max-width: 100%;
  margin: 0 auto;
}

nav .desktop-navigation .navigation-main .main-logo {
  width: 120px;
  height: 60px;
  
}

nav .desktop-navigation .navigation-main .main-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav .desktop-navigation .navigation-main .main-links {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

nav .desktop-navigation .navigation-main .main-links li a {
  font-size: .95rem;
  padding: .25rem .75rem;
  margin: 0 .75rem;
  color: var(--dark-pink);
}


nav .desktop-navigation .navigation-main .auth-links a.login-btn {
  font-weight: 600;
  font-size: 1rem;
  padding: 0 .5rem;
  color: var(--dark-pink);
}

nav .desktop-navigation .navigation-main .auth-links a.register-btn{
  font-size: 1rem;
}

main[role="main"]{
  min-height: calc(100vh - 325px);
}

.page-section{
  width: 100%;
  max-width: 1450px;
  margin: 4.5rem auto;
  padding: 2rem 1.5rem;
}


h1, h2, h3, h4, h5, h6, header{
  font-family: "Playfair Display", sans-serif;;
}




.input-section {
  width: 100%;
}

footer{
  background: var(--dark-pink);
}

footer .page-section{
  margin: 0 auto;
}
footer ul{
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}


footer ul li{
  width: calc(25% - .75rem);
}
footer ul li span{
  display: block;
}

footer ul li span:not(:last-child) {
  margin-bottom: 1rem;
}
footer ul li a {
  color: var(--white) !important;
  text-decoration: none;
  transition: ease-in-out .15s;
}

footer ul li a:hover{
  text-decoration: underline;
  color: var(--main-pink) !important;
}

footer .rights{
  color: var(--white);
  border-top: 1px solid rgba(255, 255, 255, .2);
}

.w-fit{
  width: fit-content;
}