<section class="newsletter d-flex">
    <div class="section-item">
        <div class="heading">Stay updated</div>
        <header>Subscribe to our mailing list</header>
        <p class="description my-3">
            Stay up to date on our latest events, activities, news and more
            by submitting some basic information.
        </p>
    </div>
    <form class="section-item">
        <div class="input-section half-width mb-4">
            <div class="input-item">
                <input type="text" name="first_name" placeholder="First name" class="base-input" />
            </div>

            <div class="input-item">
                <input type="text" name="last_name" class="base-input" placeholder="Last name" />
            </div>
        </div>
                
        <div class="input-section w-100">
            <div class="input-item w-100">
                <input type="email" name="email" placeholder="Email address" class="base-input" />
            </div>
        </div>
                
                
        <div class="flex justify-content-end mt-3 d-flex">
            <button class="button button-secondary d-flex align-items-center subscribe-btn">
                <span>Subscribe</span>
                <img src="icons/arrow-right.svg" alt="subscribe"/>
            </button>
        </div>
    </form>
</section>