<form id="loginForm" class="my-3" method="post">
    <div class="data-section mb-4">
        <div class="input-section">
            <label class="field-label">Email address</label>
            <div class="input-item">
                <input
                    placeholder="Enter your email address"
                    type="text"
                    name="email"
                    class="base-input"
                    value="kuteyisamueldev@gmail.com"
                />
            </div>
            <span class="error-text"></span>
        </div>
    </div>
            
            
    <div class="data-section">
        <div class="input-section">
            <label class="field-label">Password</label>
            <div class="input-item">
                <input
                    placeholder="Enter your password again"
                    type="password"
                    name="password"
                    class="base-input"
                    value="Sam987412!"
                />
            </div>
            <span class="error-text"></span>
        </div>
    </div>

    <div class="error-section d-none mt-2"></div>
            
    <div class="btn-container mt-4">
        <button class="button button-secondary w-100 login-btn">
            Log In
        </button>
    </div>
</form>

<script src="~/js/login.js" async defer></script>