@{
    Layout = "_Layout";
}

<div class="registration-section">
    <div class="header text-center">
        <h3>Create your account.</h3>
        <p class="mt-4 mx-auto">Sign up as a guest to get access to basic features
            at our facilities or become a member to get access
            to a wide range of exclusive features.</p>
    </div>
    
    <div class="registration-box">
        <div class="type-list">
            <div class="reg-type active">
                Sign up as a guest
            </div>
            <div class="reg-type">
                Become a member
            </div>
        </div>
        
        <form class="reg-form guest py-4">
            <div class="data-section split-section">
                <div class="input-section">
                    <label>First name</label>
                    <div class="input-item">
                        <input 
                            placeholder="Enter your first name" 
                            type="text" 
                            name="first_name" 
                            class="base-input"
                        />
                    </div>
                </div>
                
                <div class="input-section">
                    <label>Last name</label>
                    <div class="input-item">
                        <input type="text" 
                               name="last_name" 
                               class="base-input"
                               placeholder="Enter your last name"
                               />
                    </div>
                </div>
            </div>
            <div class="data-section">
                <div class="input-section">
                    <label>Email address</label>
                    <div class="input-item">
                        <input
                            placeholder="Enter your email address"
                            type="text"
                            name="email"
                            class="base-input"
                        />
                    </div>
                </div> 
            </div>
        </form>
    </div>
</div>