.registration-section{
    width: 800px;
    max-width: 100%;
    padding: 2.5rem 0;
    margin: 1.5rem auto;
}

.registration-section .header h3{
    font-size: 2.25rem;
}

.registration-section .header p{
    max-width: 500px;
    line-height: 1.75rem;
    font-size: 1rem;
    opacity: .8;
}

.registration-box{
    background: var(--white);
    padding: 1rem 1.25rem;
    border-radius: 20px;
    max-width: 600px;
    margin: 1.35rem auto;
    box-shadow: 0 0 1px 2px rgba(255, 196, 196, .35), 0 0 2px 5px rgba(255, 196, 196, .5);
}
.registration-box .type-list{
    display: flex;
}
.registration-section .reg-type {
    width: 50%;
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: 1rem;
    position: relative;
    transition: ease-in-out .25s;
}

.registration-section .reg-type:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: linear-gradient(to right, rgba(72, 19, 38, 1), rgba(243, 93, 93, .85));
    transition: width ease-in-out .25s;
    border-radius: 4px;
}
.registration-section .reg-type.active{
    color: var(--dark-pink);
    font-weight: 600;
}
.registration-section .reg-type.active:after {
    width: 100%;
}


.registration-section .reg-type:not(.active):hover{
    cursor: pointer;
    color: var(--main-pink);
}

form.reg-form{
    padding: 1.5rem 0;
}

.data-section{
   display: flex;
   justify-content: space-between;
}

.data-section .input-section label {
    font-size: .95rem;
    color: var(--dark-pink);
    margin-bottom: .4rem;
    display: block;
    font-weight: 600;
    padding-left: .75rem;
}


.data-section .input-section .base-input,
.data-section .input-section .input-item{
    width: 100%;
}
.data-section.split-section .input-section{
    width: calc(50% - .5rem);
}