@{
    ViewBag.Title = "User dashboard";
    Layout = "_UserLayout";
}

<div class="py-4 event-section">
    <h5 class="mb-4">Booked Events</h5>
    <div class="data-grid event-grid">

    </div>
    
    <div class="no-data-list py-3 text-center"></div>
</div>
<div class="py-4 space-section">
    <h5 class="mb-4">Booked Spaces</h5>
    <div class="data-grid space-grid">

    </div>
    <div class="no-data-list py-3 text-center"></div>
</div>